# database settings
DATABASE="pq://host/monitor"
USER="tbd"
PASSWORD="tbd"

#Footer data, adjust if needed
#COPYRIGHTSTART={'hostname':"2017"}
#COPYRIGHTNAME="WPIA"
#COPYRIGHTLINK="https://wpia.club"
#IMPRINTLINK="https://documents.wpia.club/imprint.html"
#DATAPROTECTIONLINK="https://documents.wpia.club/data_privacy_policy_html_pages_en.html"

LANGUAGES = {
    'de': 'Deutsch',
    'en': 'English'
}
