{% extends "base.html" %}
{% block body %}
<div class="container">
  <table>
  <tr>
    <th>{{_('Website URL')}}&nbsp;</th>
    <th>{{_('Current status')}}&nbsp;</th>
    <th>{{_('Time stamp')}}</th>
  </tr>
  {%- for url in urls %}
  <tr>
    <td><a href="/url/{{url.website_id}}">{{url.url}}</a></td>
    <td class="bg-{{ 'success' if url.current_status == 'good' else 'warning' if url.current_status == 'needs check' else 'danger' }}">{{_(url.current_status)|capitalize}}</td>
    <td>{{url.datestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
  </tr>
  {%- endfor %}
  </table>
</div>
{%- endblock %}